
<body style="background-color: rgb(101, 159, 207) " class="vh-100 d-flex" >

    <div id="containerMain" class="container-fluid text-center"
    style="background-color: white; width: 700px; height: 550px;; margin-top: 30px; align-content: center; border-radius: 25px">

        <img src="https://www.upacademy.pt/media/UP-Academy-Logo-Retina-Website.png" 
        alt="logo UpAcademy"
        style="margin-top: 80px; margin-bottom: 70px; width: 350px; align-self: auto;">     

        <h1 class="text-center" style="margin-bottom: 50px;">404-NOT-FOUND</h1>

        <h3 class="text-center">A página que está à procura não existe</h3>

        <h3 class="text-center" style="margin-bottom: 50px">Retorne à página inicial</h3>

        <button [routerLink]="['']" class="btn btn-info" style="margin-bottom: 50px">Página Inicial</button>  
        <!-- *METER LINK PARA HOMEPAGE* -->
      
    </div>

</body>